@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap");

@font-face {
  font-family: "Facile-Sans";
  src: url("/fonts/Facile Sans.otf") format("otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --ink-black: #0e171b;
  --navy-blue: #223843;
  --amaranth: #89043d;
  --berry-crush: #aa4465;
  --platinum: #eff1f3;
  --dust-gray: #dbd3d8;
  --desert-sand: #d8b4a0;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  margin: 14px 18px;
}

.btn {
  background-color: var(--ink-black);
  padding: 15px 25px 14px 25px;
  border-radius: 100px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--platinum);
  text-decoration: none;
  font-family: "Facile", sans-serif;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hamburger-menu {
  background-color: var(--dust-gray);
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}
